<footer class="text-center text-white footer fixed-bottom" style="background: linear-gradient(#5109cd, #1a099d)">
  <div class="p-2">
    <p class="mb-0">© 2026 Anatolii Puzin. All rights reserved. Contacts panig789@gmail.com</p>
  </div>
</footer>